// Google Font - Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// color
$white-color: #ffffff;
$blue-color: #7d20f7;
$pink-color: #f43886;
$gray-color: #4d4d4d;

// Font Family - Roboto
$font-family: 'Roboto', sans-serif;